<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>
  </head>
  <body>
    <header>
      <img src="/image/logo-mercado-liebre.svg" width="300" alt="MercadoLiebre" />
      <p>lugar para poner la barra de busqueda</p>
      <p>Compra en cuotas y sin tarjeta</p>
      <nav>
        <ul>
          <li>Offers</li>
          <li>Stores</li>
          <li>Sell</li>
          <li>Help</li>
        </ul>
        <br>
        <ul>
          <li>Register</li>
          <li>Log in</li>
          <li>Cart</li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h3>Basado en tu ultima visita a MercadoLiebre, te recomendamos:</h3>
        <img src="/image/img-cafetera-moulinex.jpg" width="200" alt="Cafetera" />
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>
        <br>
        <img src="/image/img-macbook-pro-2019.jpg" width="200" alt="Macbook" />
        <p>$230.000</p>
        <p>20% off</p>
        <p>Macbook Pro 2019</p>
        <br>
        <img src="/image/img-samsung-galaxy-s10.jpg" width="200" alt="Samsung" />
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p>
        <br>
        <img src="\image\img-tv-samsung-smart.jpg" width="200" alt="Samsung" />
        <p>23.200</p>
        <p>5% off</p>
        <p>SmartTv Samsung 43"</p>
      </section>
        <h3>Ofertas</h3>
        <img src="/image/img-cafetera-moulinex.jpg" width="200" alt="Cafetera" />
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>
        <br>
        <img src="/image/img-macbook-pro-2019.jpg" width="200" alt="Macbook" />
        <p>$230.000</p>
        <p>20% off</p>
        <p>Macbook Pro 2019</p>
        <br>
        <img src="/image/img-samsung-galaxy-s10.jpg" width="200" alt="Samsung" />
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p>
        <br>
        <img src="\image\img-tv-samsung-smart.jpg" width="200" alt="Samsung" />
        <p>23.200</p>
        <p>5% off</p>
        <p>SmartTv Samsung 43"</p>
    </main>
    <br>
    <br>
    <footer>
      <ul>
        <li>
          <p><strong>Pagá con tarjeta o en efectivo</strong></p>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </li>
        <li>
          <p><strong>Envío gratis desde $ 2.500</strong></p>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </li>
        <li>
          <p><strong>Seguridad, de principio a fin</strong></p>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </li>
        <li>
          <p><strong>Copyright © 1999-2022 MercadoLiebre S.R.L.</strong></p>
        </li>
      </ul>
    </footer>
  </body>
</html>
